.redmi-note{
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 25px;
}
.starting-at{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 35px;
}
.buynow{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
}
.redmi-12{
    color: black;
    font-size: 25px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 40px;
}
.big-on{
    color: black;
    font-size: 13px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 1;
}
.from{
    color: black;
    font-size: 13px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 25px;
}
.buynow1{
    color: #ff6900;
    font-size: 13px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 24px;
}
.xiaomi{
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: 600;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: px;
}
.designed-by{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 30px;
}
.buynow2{
    color: white;
    font-size: 13px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 48px;
}
.laptop{
    color: white;
    font-size: 28px;
    font-weight: 600;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 85px;
}
.trimmer{
    color: black;
    font-size: 27px;
    font-weight: 600;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 34px;
}
.buynow3{
    color: #ff6900;
    font-size: 13px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 70px;
}
.what-to-do{
    color: #191919;
    font-size: 27px;
    font-weight: 600;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 34px;
}
.the-phone{
    color: #191919;
    font-size: 27px;
    font-weight: 600;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 34px;
}
.know-more{
    color: #898989;
    font-size: 13px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 70px;
}
.xiaomi-care{
    color: #191919;
    position: absolute;
    font-size: 27px;
    font-weight: 600;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    line-height: 34px;
    margin-top: 65px;
    margin-left: 195px;
}
.icontext1{
    color: #191919;
    font-size: 14px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-left: 28px;
    margin-top: 20px;

}
.icontext2{
    color: #191919;
    font-size: 14px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-left: 32px;
    margin-top: 20px;

}
.icontext3{
    color: #191919;
    font-size: 14px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-top: 20px;
    margin-left: 16px;
}
.service{
    color: #191919;
    position: absolute;
    font-size: 27px;
    font: weight 600px;;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-top: 67px;
    margin-left: 180px;
}
.service-sub{
    color: #191919;
    position: absolute;
    font-size: 14px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-top: 123px;
    margin-left: 165px;
}
.exchange{
    color: #191919;
    position: absolute;
    font-size: 27px;
    font-weight: 600;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-top: 67px;
    margin-left: 195px;
}
.exchange-sub{
    color: #191919;
    position: absolute;
    font-size: 14px;
    font-weight: 1;
    font-family:'Xiaomi Brand''Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-top: 123px;
    margin-left: 80px;
}
.subtitle{
    padding-bottom: 8.5px;
    color: white;
}
ul{
    color: #898989;
    list-style: none;
    line-height: 34px;
    font-size: 14px;
}
/*ul li {
    text-decoration-line: underline ;
    text-decoration-color: #ffffff;
}*/
.follow-mi{
    color: white;
    font-size: 16px;
}
.lets-stay-in-touch{
    color: white;
    font-size: 16px;
    margin-top: 24px;
}
::placeholder{
    color: #d0d0d0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.qr-title{
    color: white;
    font-size: 16px;
    margin-bottom: 9.4px;
}
.line-qr{
    color: #898989;
    line-height: 18px;
    font-size: 14px;
}
.googleplay{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    margin-top: 18px;
}
.copyright{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 27px;
}
.sitemap{
    margin-top: 1px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;    
}
.india{
    margin-top: 1px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}